name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Java Development Kit
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install system dependencies
      run: |
        sudo apt update
        # CRITICAL LIBS: libffi-dev helps jnius compile
        sudo apt install -y python3 python3-pip python3-setuptools git zip unzip openjdk-17-jdk libffi-dev build-essential libtool adb

    - name: Install Buildozer and Cython
      run: |
        pip install --upgrade pip
        # Install buildozer from github for latest fixes
        pip install buildozer[github] cython

    - name: Build APK (Automatic Setup & Build)
      run: |
        yes | buildozer android debug
      timeout-minutes: 20 

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: GTMAPK
        path: bin/*.apk
i
