name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Use the specialized action to handle all dependencies and the build process
      - name: Build with Buildozer Action
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer # Assign an ID to access outputs
        with:
          # The action runs 'buildozer android debug' internally
          command: buildozer android debug
          app_android_accept_sdk_license: true
          # This action ensures the environment is set up correctly every time
          buildozer_warn_on_root: false

      # The APK will be available under the 'package' artifact name
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: GTMAPK
          # The action outputs the name of the generated file
          path: ${{ steps.buildozer.outputs.filename }}
